@page
@using Microsoft.AspNetCore.Identity
@using MiniBlogi.Models;
@inject UserManager<ApplicationUser> UserManager
@model MiniBlogi.Pages.Blog.UserBlogsModel
@{
}
<h2>Blog Posts</h2>
@if (UserManager.GetUserId(User)!=null)
{
    <a asp-page="./Create">Create New</a>
}
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            @if (UserManager.GetUserId(User)!=null)
            {           
                <th>Options</th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.BlogPosts)
        {
            <tr>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.Id">@item.Title</a> |
                </td>
                <td>
                    <a asp-page="./Author" asp-route-id="@item.Id">@item.User.UserName</a> |
                </td>
                <td>
                    @if (UserManager.GetUserId(User) == item.UserId)
                    {
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a>   
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<div style="font-size: 20px; font-weight: bold; text-align: center;">
    @if (Model.PageAmount > 1)
        @for (var i = 1; i <= Math.Ceiling((double)Model.PageAmount); i++)
        {
            if (i == Model.CurrentPage)
            {
                <text>@i</text>
            }
            else
            {
                <a asp-page="" asp-route-currentPage="@i">@i</a>
            }
        }
</div>